<div class="col-6">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Player Name" name="player_name" value="{{this.player_name}}">
    <label for="floatingInput">Player name</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating">
    <input type="text" class="form-control" id="floatingInput" placeholder="age" name="age" value="{{this.age}}">
    <label for="floatingInput">age</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating">
    <input type="text" class="form-control" id="floatingInput" placeholder="Overall rating" name="overall_rating" value="{{this.overall_rating}}">
    <label for="floatingInput">Overall Rating</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating">
    <input type="text" class="form-control" id="floatingInput" placeholder="Nationality" name="nationality" value="{{this.nationality}}">
    <label for="floatingInput">Nationality</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating">
    <input type="text" class="form-control" id="floatingInput" placeholder="In Contract" name="contract" value="{{this.contract}}">
    <label for="floatingInput">In Contract</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating">
    <input type="text" class="form-control" id="floatingInput" placeholder="Position" name="position" value="{{this.position}}">
    <label for="floatingInput">Position</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating">
    <input type="text" class="form-control" id="floatingInput" placeholder="Position" name="club" value="{{this.club}}">
    <label for="floatingInput">Club</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating">
    <input type="text" class="form-control" id="floatingInput" placeholder="Position" name="goal" value="{{this.goal}}">
    <label for="floatingInput">Total Goal</label>
    </div>
</div>
<div class="col-12 d-grid">
    <button type="submit" class="btn btn-primary">Add Player</button>
</div>