{{#if alert}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{/if}}
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Player</li>
  </ol>
</nav>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">player name</th>
      <th scope="col">age</th>
      <th scope="col">position</th>
      <th scope="col">club</th>
      <th scope="col">goal</th>
      <th scope="col">nationality</th>
      <th scope="col" class="text-end">Edit</th>
    </tr>
  </thead>
  <tbody>
      {{#each rows}}
     <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.player_name}}</td>
      <td>{{this.age}}</td>
      <td>{{this.position}}</td>
      <td>{{this.club}}</td>
      <td>{{this.goal}}</td>
      <td>{{this.nationality}}</td>
        <td class="text-end">
            
            <a href="/editplayer/{{this.id}}" type="button" class="btn btn-success btn-small"><i class="bi bi-pencil"></i> Edit</a>
           
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>
